{% load static%}
<link href="{% static 'css/itemdetailpage.css' %}" rel="stylesheet"/>

<style>
    img{
        max-width: 100%;
        height: auto;
    }
</style>

<script>

</script>

<section class="topsection">
<!--사진 + 제품 이름 + 가격 + 사이즈/수량선택 + 장바구니 넣기-->
    <div class="grid">
        <span class="pic">
        <img src="{% static 'img/03.jpg' %}" ></span>
        <span class="pic">
        제품명: 남성옷3<br>
        <form>
        가격: <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00<br>
        사이즈<select name="size">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select><br>
        수량<select name="num">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option><br>
        </select>
        </form>
        <span>
            <span class="text-center"><a class="btn btn-outline-dark mt-auto" href="#!">ADD TO CART</a></span><br>
        </span>
        *5개 초과 주문시 판매자와 상의하세요
        </span>
    </div>
</section>

<!--제품 상세 페이지-->
<section>
    <div class="detail">
        <h1>포인트 가디건</h1>
        <p> </p>
        <p>색상: Wine</p>
        <p>사이즈: S, M, L, XL</p>
        <p> </p>
        <img src="{% static 'img/03.jpg' %}" class="detailpic">
        <div>
            <br>
            지난 가을 완판되었던 버건디(와인)색상의 포인트 가디건입니다.<br>
            완판 기념으로 한정 수량 50% 할인 들어갑니다.<br>
            <br>
            소매 포인트 외에도 하단 밑트임 버튼으로 포인트를 주었습니다.<br>
            3-4월 봄날씨에 제격으로 간절기 BEST ITEM 입니다.<br><br>
            정확한 사이즈는 하단의 상세 사이즈표를 참고하세요<br>
        </div>
        <img src="{% static 'img/size.jpg' %}" class="detailpic">
    </div>

</section>

