<style>
    table {
        border:1px solid #222;
        border-collapse: collapse;
    }
    th {
        background:#eee;
    }
    td {
        border:1px solid #ccc;
        padding:5px;
    }
</style>
<script>
    function findAddr() {
	daum.postcode.load(function() {
		new daum.Postcode({
			oncomplete: function(data){
				var addr = '';
				if (data.userSelectedType == 'R') {
					addr = data.roadAddress;
				} else {
					addr = data.jibunaddress;
				}
				document.getElementsByName('addressName')[0].value = data.zonecode;
				document.getElementsByName('addressName1')[0].value = addr;
			}
		}).open();
	});
}
    function check_id() {
        var id = document.getElementsByName('id')[0].value;
        if (id.length < 4 || id.length > 16) {
                document.getElementById('checkId').innerHTML = '사용할수 없는 아이디 입니다.';
                document.getElementById('checkId').style.color = 'red';
                document.getElementsByName('id')[0].value='';
        } else {
                document.getElementById('checkId').innerHTML = '사용할수 있는 아이디 입니다.';
                document.getElementById('checkId').style.color = 'blue';
        }

    }

    function check_pw() { //비밀번호 맞는지 확인
        if (document.getElementsByName('pwd')[0].value == document.getElementsByName('pwd2')[0].value) {
                document.getElementById('check').innerHTML='비밀번호가 일치합니다';
                document.getElementById('check').style.color='blue';
        } else {
                document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다';
                document.getElementById('check').style.color='red';
                document.getElementsByName('pwd2')[0].value = '';
        }
    }
</script>
<section>
    <form action="registerimpl" method="post">
    {% csrf_token %}
        <table>
            <tr>
                <th>아이디<span style="color:red">*</span></th>
                <td><input type="text" name="id" onchange="check_id()">
            <p>(영문소문자/숫자, 4~16자)</p><span id="checkId"></span></td>
            </tr>
            <tr>
                <th>비밀번호<span style="color:red">*</span></th>
                <td><input type="text" name="pwd" onchange="check_pw()">
                <p>(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10~16자)</p></td>
            </tr>
            <tr>
                <th>비밀번호 확인<span style="color:red">*</span></th>
                <td><input type="text" name="pwd2" onchange="check_pw()"><span id="check"></span></td>
            </tr>
            <tr>
                <th>성 함<span style="color:red">*</span></th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th rowspan="3">주 소<span style="color:red">*</span></th>
                <td><input type="text" name="addressName" readonly class='box' size=6>
                    <input type="button" value="주소 검색" onclick="findAddr()"></td>
            </tr>
            <tr>
                <td><input type="text" name="addressName1" id="userAddress" placeholder="기본주소" class='box' size=50 readonly></td>
            </tr>
            <tr>
                <td><input type="text" name="addressName2" placeholder="상세 주소를 입력하세요" size=50></td>
            </tr>
            <tr>
                <th>휴대전화<span style="color:red">*</span></th>
                <td>
                    <select name="phone" size="1">
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                    </select>
                    -<input type="text" name="mid" size=4>
                    -<input type="text" name="last" size=4>
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>
                    <input type="text" name="emailId" size="10">@
                    <select name="emailaddress" size="1">
                        <option value="naver.com">naver.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="google.com">google.com</option>
                    </select>
                </td>

            </tr>
        </table>
        <input type="submit" value="회원가입" align="right">
    </form>
</section>
