{% extends "custcen/base.html" %}

{% block title %}
    공지사항
{% endblock title %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'shop/style.css' %}">
    <div class="content">
        <div id="board_list">
            <div id="board_list_title">
                <div id="board_title">
                    <h2>
                        <span>공 지 사 항</span>
                    </h2>
                </div>
            </div>

            <div class="board_table">
                <table>
                    <thead>
                        <tr>
                            <th>번 호</th>
                            <th>제 목</th>
                            <th>작성자</th>
                            <th>날 짜</th>
                            <th>조회수</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td><a href="{%` url 'custcen:notice_detail' post.pk %}">{{ post.title }}</a></td>
                            <td>{{ post.author }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>

        <div class="board_paging">
            <ol>
            {% if posts.has_previous %}
                <li class="paging_pr">
                    <a href="{% url 'custcen:notice' %}?page={{ posts.previous_page_number }}"></a>
                </li>

            {% endif %}

                <li><a href="#">{{ posts.number }}</a></li>

            {% if posts.has_next %}

                <li class="paging_next">
                    <a href="{% url 'custcen:notice' %}?page={{ posts.next_page_number }}"></a>
                </li>

            {% endif %}
            </ol>

        </div>

    </div>

{% endblock content %}