<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
    </style>
    <link href="{% static 'css/signin.css'%}" rel="stylesheet">
    </head>
    <body class="text-center">
        <main class="form-signin">
            <form action="/user/loginimpl" method="post">
                {% csrf_token %}
                <a href="/"><img class="mb-4" src="{% static 'img/bootstrap-logo.svg' %}" alt="" width="72" height="57"></a>
                <h1 class="h3 mb-3 fw-normal">Please Login</h1>
                <span style="color:red; font-size:0.9em;">{{print}}</span>
                <div class="form-floating">
                    <input type="text" name="id" class="form-control" id="floatingInput" placeholder="ID">
                    <label for="floatingInput">ID</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="pwd" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                <br>
                <a href="/user/idsearch" style="text-decoration:none; color:black">아이디 찾기</a>
                  |
                <a href="/user/pwdsearch" style="text-decoration:none; color:black">비밀번호 찾기</a>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>

        </main>
    </body>
</html>
